.arrow {
  background-size: contain;
  animation: spin-scale 2s infinite alternate;
}

@keyframes spin-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(20deg) scale(1.1);
  }
  50% {
    transform: rotate(-20deg) scale(1);
  }
  75% {
    transform: rotate(15deg) scale(1.05);
  }
  100% {
    transform: rotate(-15deg) scale(0.95);
  }
}
